@charset "UTF-8";
/*       body        */


.myhidden{	
	width:1px;
	height:1px; 
	overflow:hidden;
	position:absolute;
	left:-9999%;
	font-size:0;
	line-height:0;	
}
.body {
	background-color:#f5f5f5;
}
.mybg_h{ background-color: rgb(26, 188, 156); }

#header a{ color: white; }
#header nav.navbar.mybg_h { border-radius: 0px; }
#header .mynav_r a {
    padding: 0;
  	padding-top: 15px;
    padding-bottom: 15px;
}
#header .nav>li>a:focus, #header .nav>li>a:hover {
    background-color: transparent;
    border-bottom: 3px solid steelblue;
    color:steelblue;
}
#header .nav.mynav_r>li>a {
    border-bottom: 3px solid transparent;
}
#header ul.nav.navbar-nav.navbar-right.mynav_r>li>a {
    margin-right: 15px;
}
.navbar-right {
    margin-right:0px;
}
#footer {
/*   position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#f5f5f5;
  padding:5%;
}
#footer .mynav_f a{ margin-right: 5px; }
#footer .myclarboth{ padding : 2%; }


/*               */
/*               */
/*               */
/*               */
/*               */
h1.logo {
    color: rgb(26, 188, 156);
    font-size: 80px;
    font-weight: bold;
}
.btn-info, .btn-danger {
    color: white;
}
.member-page{
	padding:1%;
	max-width: 25cm;
	text-align: center;
}
.member_form{
	display: inline-block;
	padding:1%;
	text-align: center;
}

.member_form .member_extra a{
    padding: 20px;
}

.member_submit{
	background-color: rgb(26, 188, 156);
	color:white;
}

a, .btn{
	 color: rgb(26, 188, 156);
}
.double{
	 padding: 6px 12px;
}
/* account */
.myemail span.col-sm-2 {
    padding-left: 25px;
     color: rgb(26, 188, 156);
}
.account span.col-sm-2 {
    text-align:left;
}
.myemail span.col-sm-10 {
    padding-left: 23px;
}
.row.myemail {
    margin-top: 16px;
    margin-bottom: 16px;
}
a .col-sm-10 {
    width: 0;
}
.last {
    padding-bottom: 20px;
}
/*  */
a.btn.form-control {
    padding-top: 20px;
}
.user_icon {
    font-size: 60px;
} 
.result {
    color: red;
}
.account, .select_category  {
    text-align: left;
}
 .account {
    padding-left: 3%;
    padding-right: 3%;
} 

input {
    margin-bottom: 1%;
}
.drop_check {
    display: inline-block;
    padding: 2%;
    background-color: gainsboro;
    border-radius: 8px;
}



.check-btn {
    font-size: 50px;
}

/*               */
/*               */
/*               */
/*               */
/*               */
#footer .mylist{
	
 background-color: rgba(26, 188, 156); color: white;
}
#footer .myList{
  list-style-type: none;
}

#footer_logo{
	
	width:300px;
overflow: hidden;
}